* {
    margin: 0;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: var(--color-black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.nav-list a:hover {
    color: #2196F3;
}

.nav-list a {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}


.main-nav a {
    color: #212121;
}

.contacts-head a:hover {
    color: #2196F3;
}

.contacts-head a {
    color:#757575;

}

.hero {
    background: #2F303A;
    width: 1600px;
    height: 600px;
}

.hero-title {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.button {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.ability h3 {
    color: #212121;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.ability p {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
}

.ability-list {
    display: flex;
}

.gaget-title {
    width: 376px;
    height: 42px;
    left: 612px;
    top: 969px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.gagets {
    display: flex;
    mix-blend-mode: normal;
}

.img-gagets {
    width: 370px;
    height: 294px;
}

.our-team {
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background: #F5F4FA;
}

.team-title {
    width: 264px;
    height: 42px;
    font-size: 36px;
    line-height: 1.67;
    color: #212121;

}

.team h3 {
    font-size: 16px;
    line-height: 1.19;
   }

.profession {
    color: #757575;
    }

.team {
    display: flex;  
}

footer {
    background: #2F303A;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
}

footer div {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2157px;
    font-size: 26px;
    line-height: 1.19;
}

.adress li {
    color: #FFFFFF;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2208px;
    font-size: 14px;
    line-height: 2.0;

}

.adress a {
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2238px;
    font-size: 14px;
    line-height: 2.0;
}

/* Стили к портфолио */

.guide li:hover {
    background: #2196F3;
}

.guide li{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}


.name-progect {
    font-size: 18px;
    line-height: 36px;
}

.progect-what {
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}
